<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="logo">

  </div>

  <div id="botones">
    <ion-button routerLink="" shape="round">
      PASAJERO
    </ion-button> 
    <ion-button routerLink="" shape="round">
      CONDUCTOR
    </ion-button>
  </div>
  
</ion-content>
