<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="volver"
        color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ej. Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>subtitulo 1</ion-card-subtitle>
      <ion-card-title>Titulo 1</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:cyan; text-align: justify;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, minus, sint qui incidunt, libero ab distinctio aliquid quae sequi laboriosam autem suscipit. Velit quisquam iure tenetur fugit? Maxime, ipsum autem?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/perrito.webp" class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>Perrito</ion-card-subtitle>
      <ion-card-title>Cachorro Golden</ion-card-title>
    </ion-card-header>
    <ion-card-content class="perrito">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae ipsa quae iusto, aspernatur ex alias iure provident ipsum rem, voluptatum nobis sint delectus dicta optio ratione! Mollitia, adipisci perferendis?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Perrito</ion-card-subtitle>
      <ion-card-title>Cachorro Golden</ion-card-title>
    </ion-card-header>
    <ion-card-content class="perrito2">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae ipsa quae iusto, aspernatur ex alias iure provident ipsum rem, voluptatum nobis sint delectus dicta optio ratione! Mollitia, adipisci perferendis?
    </ion-card-content>
    <img src="assets/perrito.webp" class="ion-padding">
  </ion-card>



</ion-content>
